apiVersion: v1
kind: Pod
metadata:
  name: podinfo-cm
spec:
  containers:
    - name: pi
      image: stefanprodan/podinfo:6.7.1
      command: 
        - ./podinfo
        - --config-path=/configuration
      volumeMounts:
        - name: config-files
          mountPath: /configuration
          readOnly: true
      ports:
        - name: http
          containerPort: 9898
          protocol: TCP
      env:
       - name: PODINFO_UI_MESSAGE
         valueFrom: 
           configMapKeyRef:
              name: podinfo-config
              key: msg
  volumes:
    - name: config-files
      configMap: 
        name: podinfo-file-config
